.antd-demo {
  position: relative;
  .antd-demo-top {
    .antd-demo-avatar {
      position: relative;
      top: 4px;
      float: left;
      margin-right: 20px;
      img {
        border-radius: 100%;
      }
    }
    .antd-demo-meta {
      height: 22px;
      //color: @text-color-secondary;
      //font-size: @font-size-base;
      line-height: 22px;
    }
    .antd-demo-action {
      position: absolute;
      top: 4px;
      right: 0;
      line-height: 1;
      cursor: pointer;
    }
  }
  .antd-demo-total {
    height: 38px;
    margin-top: 4px;
    margin-bottom: 0;
    overflow: hidden;
    //color: @heading-color;
    font-size: 30px;
    line-height: 38px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  .antd-demo-content {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
  }
  .antd-demo-footer {
    margin-top: 8px;
    padding-top: 9px;
    //border-top: 1px solid @border-color-split;
    position: relative;
  }
}
