.antd-demo {
  position: relative;
  .antd-demo-top {
    position: relative;
    .antd-demo-title {
      font-size: 1.2em;
    }
    .antd-demo-action {
      position: absolute;
      top: 0;
      right: 0;
      line-height: 1;
      cursor: pointer;
    }
  }

  :global(.ant-divider) {
    margin: 1em 0;
  }
  .antd-demo-content {
    position: relative;
    width: 100%;
  }
  .antd-demo-footer {
    position: relative;
  }
}
