.tf-tree {
  text-align: center;
}

.tf-tree ul:first-child {
  margin-top: 2rem;
}

.tf-tree .tf-nc {
  padding: 0.5rem 1rem;
  border: none;
  outline: 1px dashed black;
  cursor: pointer;
}

.tf-tree li {
  padding: 0 !important;
}

.tf-nc.tf-null {
  border: none;
  outline: none !important;
}

.tf-nc.visiting {
  outline: 2px solid red !important;
  color: red !important;
}

.tf-nc.visited {
  outline: 2px solid purple;
  color: purple;
  font-weight: bold;
}

.tf-tree.tf-dark .tf-nc {
  border-color: white;
}

.tf-tree.tf-dark .tf-nc:before,
.tf-tree.tf-dark .tf-nc:after {
  background-color: white;
  border-width: 1px;
}

.tf-tree.tf-dark li li:before {
  border-top-color: white;
  border-top-width: 1px;
}
